h1 {
    color: #000000;
    background-color: #5A8FF2;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    border-radius: 4px;
    width: 100%;
}
nav {
    float: right;
    padding: 10px;
}
nav a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
}
nav a:hover {
    background-color: #EE42F5;
    text-decoration: underline;
}
button {
    color: #000000;
    background-color: #5A8FF2;
    padding: 5px;
    border-radius: 4px;
}
button a:hover {
    background-color: #5AF0F2;
    text-decoration: none;
}
.column_left {
    float: left;
    width: 45%;
}
.column_right {
    float: right;
    width: 45%;
}
h2 {
    width: 100%;
    color: #000000;
    float: left;
    margin-right: 40px;
    padding: 5px;
}
h3 {
    background-color: #5A8FF2;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}
h3 a {
    width: auto;
    text-decoration: none;
}
h3 a:hover {
    background-color: #EE42F5;
    text-decoration: underline;
}
figcaption {
    font-style: italic;
    font-size: small;
    text-align: right;
}
.index_container {
    display: grid;
    width: 100%;
    column-gap: 4%;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.about_container {
    display: grid;
    width: 100%;
    column-gap: 1%;
    grid-template-columns: auto auto;
    place-content: center;
}
.hobbies_container {
    display: grid;
    width: 100%;
    column-gap: 4%;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.goals_container {
    display: grid;
    width: 100%;
    column-gap: 4%;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.resizable-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.bigSpace {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 30px;
}
.smallSpace {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.space {
    width: 100%;
    margin-top: 10px;
}
footer {
    background-color: #5A8FF2;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 4px;
    margin-top: 100px;
    margin-bottom: 10px;
    width: 100%;
}
.created_by {
    background-color: #5A8FF2;
    text-align: right;
    padding-right: 10px;
}