h1 {
    color: #000000;
    background-color: #5A8FF2;
    float: left;
    padding: 20px;
}
nav {
    float: right;
}
button {
    color: #000000;
    background-color: #5A8FF2;
    padding: 5px;
}
button:hover {
    background-color: #5AF0F2;
}
button a {
    text-decoration: none;
}